<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>texture.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{2035,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{2035,510}}</string>
        <key>sourceSize</key>
        <string>{2039,514}</string>
      </dict>
      <key>rectangle_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,516},{1125,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1125,150}}</string>
        <key>sourceSize</key>
        <string>{1125,150}</string>
      </dict>
      <key>shape_WC.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1645},{369,271}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,10},{369,271}}</string>
        <key>sourceSize</key>
        <string>{389,289}</string>
      </dict>
      <key>rectangle_WC.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>shape_WD.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,1420},{433,188}}</string>
        <key>offset</key>
        <string>{1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,6},{433,188}}</string>
        <key>sourceSize</key>
        <string>{452,200}</string>
      </dict>
      <key>rectangle_WC_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>rectangle_WC_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>BG_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,1612},{421,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{11,8},{421,168}}</string>
        <key>sourceSize</key>
        <string>{443,184}</string>
      </dict>
      <key>key_space_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,1420},{537,124}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{537,124}}</string>
        <key>sourceSize</key>
        <string>{537,126}</string>
      </dict>
      <key>rectangle_shadow_WC.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>key_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1612},{94,125}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,125}}</string>
        <key>sourceSize</key>
        <string>{96,126}</string>
      </dict>
      <key>filledAvShuffle_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1961},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,15},{60,60}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>back_an.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1710},{162,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,111}}</string>
        <key>sourceSize</key>
        <string>{162,111}</string>
      </dict>
      <key>cross_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,1876},{47,46}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{47,46}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>key_space_WB_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,1420},{537,124}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{537,124}}</string>
        <key>sourceSize</key>
        <string>{537,126}</string>
      </dict>
      <key>rectangle_SO.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,516},{861,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{861,162}}</string>
        <key>sourceSize</key>
        <string>{861,162}</string>
      </dict>
      <key>BG_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,1381},{504,284}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,22},{504,284}}</string>
        <key>sourceSize</key>
        <string>{534,327}</string>
      </dict>
      <key>rectangle_SO_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,516},{861,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{861,162}}</string>
        <key>sourceSize</key>
        <string>{861,162}</string>
      </dict>
      <key>key_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,1889},{783,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{783,150}}</string>
        <key>sourceSize</key>
        <string>{783,150}</string>
      </dict>
      <key>small_key_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{1636,1889},{252,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{252,150}}</string>
        <key>sourceSize</key>
        <string>{252,150}</string>
      </dict>
      <key>key_AN_BG.png</key>
      <dict>
        <key>frame</key>
        <string>{{1892,516},{783,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{783,150}}</string>
        <key>sourceSize</key>
        <string>{783,150}</string>
      </dict>
      <key>small_key_bg_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{1892,1303},{252,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{252,150}}</string>
        <key>sourceSize</key>
        <string>{252,150}</string>
      </dict>
      <key>key_letter_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{1892,1559},{149,179}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,179}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>key_letter_AN_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1892,1742},{149,179}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,179}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>green_rextangle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,1381},{274,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{274,108}}</string>
        <key>sourceSize</key>
        <string>{276,108}</string>
      </dict>
      <key>rectangle_SO_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{1152,516},{861,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{861,162}}</string>
        <key>sourceSize</key>
        <string>{861,162}</string>
      </dict>
      <key>rectangle_shadow_SO.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,516},{861,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{861,162}}</string>
        <key>sourceSize</key>
        <string>{861,162}</string>
      </dict>
      <key>back_an_BG.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,1659},{162,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,111}}</string>
        <key>sourceSize</key>
        <string>{162,111}</string>
      </dict>
      <key>rectangle_green_WD.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,1381},{274,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{274,108}}</string>
        <key>sourceSize</key>
        <string>{276,108}</string>
      </dict>
      <key>rectangle_back_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,1659},{162,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,111}}</string>
        <key>sourceSize</key>
        <string>{162,111}</string>
      </dict>
      <key>red_WP.png</key>
      <dict>
        <key>frame</key>
        <string>{{1361,1381},{274,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{274,108}}</string>
        <key>sourceSize</key>
        <string>{276,108}</string>
      </dict>
      <key>key_long_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{1367,1659},{94,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{94,258}}</string>
        <key>sourceSize</key>
        <string>{96,258}</string>
      </dict>
      <key>key_blue_AN.png</key>
      <dict>
        <key>frame</key>
        <string>{{1629,516},{783,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{783,150}}</string>
        <key>sourceSize</key>
        <string>{783,150}</string>
      </dict>
      <key>cross_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,1876},{47,46}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{47,46}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>rectangle_long_WB.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,516},{1125,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1125,150}}</string>
        <key>sourceSize</key>
        <string>{1125,150}</string>
      </dict>
      <key>rectangle_wp.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>rectangle_wp_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>rectangle_wp_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
      <key>rectangle_shadow_wp.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,516},{900,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{900,162}}</string>
        <key>sourceSize</key>
        <string>{900,162}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>english.png</string>
      <key>size</key>
      <string>{2044,2041}</string>
      <key>textureFileName</key>
      <string>english</string>
    </dict>
  </dict>
</plist>
