<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>topBar.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{1125,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1125,180}}</string>
        <key>sourceSize</key>
        <string>{1125,180}</string>
      </dict>
      <key>score_rect.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,4},{795,486}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{795,486}}</string>
        <key>sourceSize</key>
        <string>{795,486}</string>
      </dict>
      <key>small_play.png</key>
      <dict>
        <key>frame</key>
        <string>{{1940,4},{190,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{190,92}}</string>
        <key>sourceSize</key>
        <string>{190,92}</string>
      </dict>
      <key>leaderboard_bar.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,192},{1086,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1086,153}}</string>
        <key>sourceSize</key>
        <string>{1086,153}</string>
      </dict>
      <key>replay_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,353},{539,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{539,164}}</string>
        <key>sourceSize</key>
        <string>{539,164}</string>
      </dict>
      <key>home_share_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,353},{509,177}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{509,177}}</string>
        <key>sourceSize</key>
        <string>{509,177}</string>
      </dict>
      <key>timeProgression.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,525},{354,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{354,162}}</string>
        <key>sourceSize</key>
        <string>{354,162}</string>
      </dict>
      <key>FB.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,525},{149,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,149}}</string>
        <key>sourceSize</key>
        <string>{149,149}</string>
      </dict>
      <key>flag_BG.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,498},{262,262}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,262}}</string>
        <key>sourceSize</key>
        <string>{262,262}</string>
      </dict>
      <key>FLAG.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,538},{197,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,188}}</string>
        <key>sourceSize</key>
        <string>{197,188}</string>
      </dict>
      <key>home.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,682},{141,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,129}}</string>
        <key>sourceSize</key>
        <string>{141,129}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>GAME_OVER_UI.png</string>
      <key>size</key>
      <string>{2036,815}</string>
      <key>textureFileName</key>
      <string>GAME_OVER_UI</string>
    </dict>
  </dict>
</plist>
