<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>topBar.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{1125,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1125,180}}</string>
        <key>sourceSize</key>
        <string>{1125,180}</string>
      </dict>
      <key>line_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,2},{53,476}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,2},{53,476}}</string>
        <key>sourceSize</key>
        <string>{57,480}</string>
      </dict>
      <key>rectangle_ooo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1611,2},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>line__flo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1975,2},{280,68}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{280,68}}</string>
        <key>sourceSize</key>
        <string>{282,69}</string>
      </dict>
      <key>wrong.png</key>
      <dict>
        <key>frame</key>
        <string>{{1975,286},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,22},{64,64}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>right.png</key>
      <dict>
        <key>frame</key>
        <string>{{1975,354},{80,61}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,25},{80,61}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>line_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,59},{466,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{466,106}}</string>
        <key>sourceSize</key>
        <string>{468,108}</string>
      </dict>
      <key>line_violet.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,169},{466,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{466,106}}</string>
        <key>sourceSize</key>
        <string>{468,108}</string>
      </dict>
      <key>rectangle_ooo_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,186},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>timeProgression.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,186},{354,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{354,162}}</string>
        <key>sourceSize</key>
        <string>{354,162}</string>
      </dict>
      <key>PA_efx.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,186},{341,335}}</string>
        <key>offset</key>
        <string>{0.5,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67,77},{341,335}}</string>
        <key>sourceSize</key>
        <string>{474,468}</string>
      </dict>
      <key>oval_PA_GREEN.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,352},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,216}}</string>
        <key>sourceSize</key>
        <string>{216,216}</string>
      </dict>
      <key>wrong_TR.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,352},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,30},{84,84}}</string>
        <key>sourceSize</key>
        <string>{144,144}</string>
      </dict>
      <key>oval_PA_Red.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,550},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,216}}</string>
        <key>sourceSize</key>
        <string>{216,216}</string>
      </dict>
      <key>oval_shadow_PA.png</key>
      <dict>
        <key>frame</key>
        <string>{{1069,279},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,216}}</string>
        <key>sourceSize</key>
        <string>{216,216}</string>
      </dict>
      <key>oval_white_PA.png</key>
      <dict>
        <key>frame</key>
        <string>{{1289,279},{216,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,216}}</string>
        <key>sourceSize</key>
        <string>{216,216}</string>
      </dict>
      <key>polygon_base.png</key>
      <dict>
        <key>frame</key>
        <string>{{1509,366},{188,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{188,208}}</string>
        <key>sourceSize</key>
        <string>{192,210}</string>
      </dict>
      <key>polygon_green.png</key>
      <dict>
        <key>frame</key>
        <string>{{1721,366},{188,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{188,208}}</string>
        <key>sourceSize</key>
        <string>{192,210}</string>
      </dict>
      <key>polygon_red.png</key>
      <dict>
        <key>frame</key>
        <string>{{1069,499},{188,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{188,208}}</string>
        <key>sourceSize</key>
        <string>{192,210}</string>
      </dict>
      <key>polygon_shadow.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,499},{188,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{188,208}}</string>
        <key>sourceSize</key>
        <string>{192,210}</string>
      </dict>
      <key>rectangle_shadow_TR.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,525},{192,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,1},{192,193}}</string>
        <key>sourceSize</key>
        <string>{192,195}</string>
      </dict>
      <key>rectangle_white_TR.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,525},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>rectangle_yellow_TR.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,572},{192,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>oval_color.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,572},{156,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
      <key>oval_border_flo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1493,558},{180,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,180}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>oval_border_violet_flo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1677,691},{180,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,180}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>oval_color_green_flo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1861,558},{156,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
      <key>oval_color_red_flo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1861,718},{156,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
      <key>oval_color_violet_flo.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,691},{156,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>memory.png</string>
      <key>size</key>
      <string>{2045,876}</string>
      <key>textureFileName</key>
      <string>memory</string>
    </dict>
  </dict>
</plist>
